<% layout('layouts/boilerplate') %>

<div class="row mt-3">
  <h1 class="text-center"><b>Edit Product</b></h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/products/<%= product.id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input
          class="form-control"
          type="text"
          name="product[name]"
          id="name"
          value="<%= product.name %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          type="text"
          name="product[description]"
          id="description"
        >
          <%= product.description %>
      </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price:</label>
        <input
          class="form-control"
          type="text"
          name="product[price]"
          id="price"
          value="<%= product.price %> "
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Stock:</label>
        <input
          class="form-control"
          type="text"
          name="product[stock]"
          id="stock"
          value="<%= product.stock %> "
        />

        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-success btn-block">
          Edit Product
        </button>
      </div>
      <a href="/products">Back To Products</a>
    </form>
  </div>
</div>
