<% layout('layouts/boilerplate') %>

<div class="row mt-3">
  <h1 class="text-center"><b>Edit Product</b></h1>
  <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
    <form
      action="/products/<%= product.id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="row mb-3">
        <label class="form-label" for="name">Name:</label>
        <input
          class="form-control"
          type="text"
          name="product[name]"
          id="name"
          value="<%= product.name %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="row mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          type="text"
          name="product[description]"
          id="description"
        >
          <%= product.description %>
      </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="row mb-3">
        <label for="images" class="form-label">Image/s:</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="image"
          multiple
        />
      </div>

      <div class="row mb-3">
        <% product.images.forEach(function(img, i){ %>

        <div class="card col-md-3 col-4">
          <img class="" src="<%= img.url %> " alt="" style="height: 150px" />

          <div class="form-check-inline mx-auto">
            <label for="image-<%= i  %>">Delete?</label>
            <input
              type="checkbox"
              id="image-<%= i  %>"
              name="deleteImages[]"
              value="<%=img.filename  %>"
            />
          </div>
        </div>
        <% })%>
      </div>

      <div class="row mb-3">
        <label class="form-label" for="price">Price:</label>
        <input
          class="form-control"
          type="text"
          name="product[price]"
          id="price"
          value="<%= product.price %> "
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="row mb-3">
        <label class="form-label" for="price">Stock:</label>
        <input
          class="form-control"
          type="text"
          name="product[stock]"
          id="stock"
          value="<%= product.stock %> "
        />

        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="row mb-3">
        <button type="submit" class="btn btn-success btn-block">
          Edit Product
        </button>
      </div>
      <a href="/products">Back To Products</a>
    </form>
  </div>
</div>
