<% layout('layouts/boilerplate') %>

<div class="row mt-3">
  <h1 class="text-center"><b>New Product</b></h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/products"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input
          class="form-control"
          type="text"
          name="product[name]"
          id="name"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="images" class="form-label">Image/s:</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="images"
          multiple
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          type="text"
          name="product[description]"
          id="description"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price:</label>
        <input
          class="form-control"
          type="text"
          name="product[price]"
          id="price"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Stock:</label>
        <input
          class="form-control"
          type="text"
          name="product[stock]"
          id="stock"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="brand">Brand: </label>
        <select
          class="form-control form-select"
          type="text"
          name="product[brand]"
          id="brand"
          required
        >
          <option value="">-- Select a Brand --</option>
          <% for (let brand of brands){%>
          <option value="<%= brand.id %>"><%= brand.name %></option>
          <% } %>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="category">Category: </label>
        <select
          class="form-control form-select"
          type="text"
          name="product[category]"
          id="category"
          required
        >
          <option value="">-- Select a Category --</option>
          <% for (let category of categories){%>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% } %>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="subcategory">Subcategory: </label>
        <select
          class="form-control form-select"
          type="text"
          name="product[subcategory]"
          id="subcategory"
          required
        >
          <option value="">-- Select a Subcategory --</option>

          <!-- <% for (let subcategory of subcategories){%>
          <option value="<%= subcategory.id %>"><%= subcategory.name %></option>
          <% } %> <%= subcategories %> -->
        </select>
      </div>

      <div class="mb-3">
        <button id="btn-submit" type="submit" class="btn btn-success btn-block">
          Add Product
        </button>
      </div>
      <a href="/products">Back To Products</a>
    </form>
  </div>
</div>

<script>
  const category = document.getElementById("category");
  const subcategory = document.getElementById("subcategory");

  const fetchSubcategories = async () => {
    const categoryId = document.getElementById("category").value;

    const res = await fetch(
      "http://localhost:3000/products/get_subcategories/" + categoryId
    );
    const data = await res.json();

    fillSubcategories(data);
  };

  const fillSubcategories = (data) => {
    let html = `<option value="">-- Select a Subcategory --</option>`;

    for (let i = 0; i < data.length; i++) {
      html += `<option value="${data[i]._id}">${data[i].name}</option>`;
    }

    subcategory.innerHTML = html;
  };

  category.addEventListener("change", fetchSubcategories);
</script>
